/* General */
.btn-h1-spacing {
    margin-top: 18px;
}
.form-spacing-top {
    margin-top: 30px;
}
.form-spacing-top-50 {
    margin-top: 50px;
}
.btn-sml-top-spacing {
    margin-top: 20px;
}
.col-btn-2 {
    width: 70px;
}

/* post.show */
#backend-comments {
    margin-top: 50px;
}

/* blog.single */
.comment {
    margin-bottom: 45px;
}
.author-image {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.author-name {
    float: left;
    margin: 5px 0 0 15px;
}
.author-name h4 {
    margin: 5px 0;
}
.author-time {
    font-size: 11px;
    font-style: italic;
    color: #999;
}
.comment-content {
    clear: both;
    margin: 0 0 0 65px;
    font-size: 16px;
    line-height: 1.3em;
}
.comments-title {
    font-size: 45px;
    margin: 0 0 45px 0;
}
.comments-title span {
    margin: 0 15px 0 0;
}
